# OS
**DS_Store**

# Build
!**/.gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# IDE
.vscode/
.idea/

# Chat dump files
src/main/resources/chat/*
